meeting_notes.json
{
  "name": "AI Meeting Notes (Whisper + GPT-4o + Notion)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "transcribe",
        "options": {}
      },
      "id": "e4b1c2d3-1a2b-4c5d-6e7f-8g9h0i1j2k3l",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-a1b2-c3d4e5f67890",
      "name": "OpenAI Whisper",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "You are a helpful assistant that summarizes meeting transcripts."
            },
            {
              "role": "user",
              "content": "={{ $json.text }}\n\nPlease summarize this text into 'Key Takeaways' and 'Action Items'."
            }
          ]
        },
        "options": {}
      },
      "id": "f1e2d3c4-b5a6-9780-f1e2-d3c4b5a69780",
      "name": "OpenAI Chat Model",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_NOTION_DATABASE_ID",
          "mode": "list",
          "cachedResultName": "Meeting Notes"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name",
              "title": "Meeting Summary - {{ $now.toFormat('yyyy-MM-dd') }}"
            },
            {
              "key": "Summary",
              "rich_text": "={{ $json.message.content }}"
            }
          ]
        }
      },
      "id": "98765432-10fe-dcba-9876-543210fedcba",
      "name": "Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        950,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CREDENTIAL_ID",
          "name": "Notion Account"
        }
      }
    },
    {
      "parameters": {
        "channel": "general",
        "text": "✅ *New Meeting Notes Created*\n\nSummary:\n{{ $json.message.content }}",
        "otherOptions": {}
      },
      "id": "12345678-90ab-cdef-1234-567890abcdef",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack Account"
        }
      }
    },
    {
      "parameters": {},
      "id": "55555555-4444-3333-2222-111111111111",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        200,
        500
      ]
    },
    {
      "parameters": {
        "channel": "alerts",
        "text": "🚨 *Workflow Error*\n\nWorkflow: AI Meeting Notes\nError: {{ $json.message }}",
        "otherOptions": {}
      },
      "id": "66666666-7777-8888-9999-000000000000",
      "name": "Slack Error Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        450,
        500
      ],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack Account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Whisper": {
      "main": [
        [
          {
            "node": "OpenAI Chat Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Slack Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}